<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HappyRetailConnectionString" connectionString="Data Source=MAIT-FAC-JANAK\SQLEXPRESS;Initial Catalog=OnlineRetail;User ID=sa;Password=Danger13;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>